form{
    width: 60% !important;
    margin: auto;
}

.form-control:focus{
    box-shadow: 0 0 2px 2px green !important;
}

@media only screen and (max-width: 900px){
    form{
        width: 80% !important;
    }
}